{% extends 'layout.html' %}

{% block title %} Privacy Policy {% endblock %}

{% block content %}
	<div>
		<h2 class="text-2xl font-bold mb-4">Privacy Policy</h2>
		<p class="pt-4 pb-5 text-lg text-justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<p class="pt-4 pb-5 text-lg text-justify">
			<strong>Information Collection and Use</strong><br>
			Nulla facilisi. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. We collect various types of information for various purposes to provide and improve our service to you.
		</p>

		<p class="pt-4 pb-5 text-lg text-justify">
			<strong>Types of Data Collected</strong><br>
			We may collect the following types of data: personal data, usage data, tracking and cookies data. Personal data includes information such as your name, email address, and phone number. Usage data is collected automatically when using the service and may include your IP address, browser type, and usage patterns.
		</p>

		<p class="pt-4 pb-5 text-lg text-justify">
			<strong>Use of Data</strong><br>
			We use the collected data for various purposes: to provide and maintain our service, to notify you about changes to our service, to allow you to participate in interactive features of our service, to provide customer support, to gather analysis or valuable information so that we can improve our service.
		</p>

		<p class="pt-4 pb-5 text-lg text-justify">
			<strong>Transfer of Data</strong><br>
			Your information, including personal data, may be transferred to — and maintained on — computers located outside of your state, province, country, or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction. If you are located outside and choose to provide information to us, please note that we transfer the data, including personal data, to your location and process it there.
		</p>

		<p class="pt-4 pb-5 text-lg text-justify">
			<strong>Security of Data</strong><br>
			The security of your data is important to us but remember that no method of transmission over the Internet
		</p>
	</div>

{% endblock %}
